<% content_for :sidebar do%>
				<h2>New Opportunities</h2>
				<ul class="style2">
				
					<li class="first">
						<h3><a href="#">Maecenas luctus lectus</a></h3>
						<p><a href="#">Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.</a></p>
					</li>
				
					
				</ul>
		<%end%>
