<h2> My Companies</h2>
 <% @companies.each do |company| %>
<ul class="chunky">
	<li>
		<h2><%=company.name%></h2>
		<p><%=company.email%></p>
		
		<%= link_to "Edit", edit_company_path(company), :class => "button-style2"%>
		<%= link_to 'Delete Company', company, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button-style2" %>
	</li>
</ul>	

 <%end%>
<a href="/companies/new" class="button-style2">New Company</a>

<% content_for :sidebar do%>
				<h2>New Opportunities</h2>
				<ul class="style2">
				
					<li class="first">
						<h3><a href="#">Maecenas luctus lectus</a></h3>
						<p><a href="#">Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.</a></p>
					</li>
				
					
				</ul>
		<%end%>

